# Environment
IP_ADDRESS=ip_address_placeholder
EXPO_PUBLIC_API_HOST=ip_address_placeholder

# Google
GOOGLE_CLIENT_ID=token.apps.googleusercontent.com

# Database
DATABASE_NAME=easypick
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=admin123
S3_BUCKET_NAME=easypick-images

# Garment Processor
PROCESSOR_TIMEOUT_SECONDS=30
EASYPICK_REFRESH_TOKEN=9ca03ab2-0aef-4c42-9030-dd0def7eaff0

# Main API
API_TIMEOUT_SECONDS=30
API_PORT=8080

# Mobile
EXPO_PUBLIC_APP_ENV=DEV
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=token.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=token.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=token.apps.googleusercontent.com