EXPO_PUBLIC_API_BASE_URL=http://IP_LAN_PC:192.168.1.87:8081/api/v1
EXPO_PUBLIC_APP_ENV=DEV
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=key-for-android.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=key-for-ios.apps.googleusercontent.com